{% extends "myapp/base.html" %}

{% block title %}Book List - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Book List</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">Authors: {{ book.authors.all|join:", " }}</p>
                        <p class="card-text">Published on: {{ book.publication_date }}</p>
                        <!-- Add more book details as needed -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
